<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.xmos.cdt.core.simulatorLaunchDebug">
<booleanAttribute key="com.xmos.cdt.attach" value="false"/>
<booleanAttribute key="com.xmos.cdt.continue_with_sims" value="true"/>
<booleanAttribute key="com.xmos.cdt.display_command_in_console" value="false"/>
<booleanAttribute key="com.xmos.cdt.displaystats" value="false"/>
<stringAttribute key="com.xmos.cdt.jtagspeed" value=""/>
<booleanAttribute key="com.xmos.cdt.jtagspeed.enable" value="false"/>
<booleanAttribute key="com.xmos.cdt.maxcycles" value="false"/>
<stringAttribute key="com.xmos.cdt.maxcyclestext" value=""/>
<booleanAttribute key="com.xmos.cdt.pins" value="false"/>
<listAttribute key="com.xmos.cdt.pins.connections"/>
<booleanAttribute key="com.xmos.cdt.simtrace" value="false"/>
<booleanAttribute key="com.xmos.cdt.simulator_launch" value="false"/>
<booleanAttribute key="com.xmos.cdt.tracefile" value="false"/>
<stringAttribute key="com.xmos.cdt.tracefiletext" value=""/>
<booleanAttribute key="com.xmos.cdt.uart" value="false"/>
<listAttribute key="com.xmos.cdt.userPlugins"/>
<booleanAttribute key="com.xmos.cdt.vcd.pads.tracing" value="false"/>
<listAttribute key="com.xmos.cdt.vcd.trace_points"/>
<booleanAttribute key="com.xmos.cdt.vcd.tracing" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="com.xmos.cdt.debug.core.debugger"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_REGISTER_GROUPS" value=""/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN_SYMBOL" value="main"/>
<booleanAttribute key="org.eclipse.cdt.launch.ENABLE_REGISTER_BOOKKEEPING" value="false"/>
<booleanAttribute key="org.eclipse.cdt.launch.ENABLE_VARIABLE_BOOKKEEPING" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.FORMAT" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&lt;contentList&gt;&lt;content id=&quot;uintRandomArr[2]-uintRandomArr--(format)&quot; val=&quot;4&quot;/&gt;&lt;content id=&quot;uintRandomArr[1]-uintRandomArr--(format)&quot; val=&quot;4&quot;/&gt;&lt;content id=&quot;uintRandomArr[0]-uintRandomArr--(format)&quot; val=&quot;4&quot;/&gt;&lt;content id=&quot;uintMsg-taskQ-(format)&quot; val=&quot;4&quot;/&gt;&lt;/contentList&gt;"/>
<stringAttribute key="org.eclipse.cdt.launch.GLOBAL_VARIABLES" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;globalVariableList&gt;&#13;&#10;&lt;globalVariable name=&quot;uintShiftReg&quot; path=&quot;&quot;/&gt;&#13;&#10;&lt;globalVariable name=&quot;uintRandomArr&quot; path=&quot;&quot;/&gt;&#13;&#10;&lt;/globalVariableList&gt;&#13;&#10;"/>
<stringAttribute key="org.eclipse.cdt.launch.MEMORY_BLOCKS" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;memoryBlockExpressionList/&gt;&#13;&#10;"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="bin/Debug/I-T001_Debug.xe"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="I-T001"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_ID_ATTR" value="com.xmos.cdt.toolchain.1825146831"/>
<booleanAttribute key="org.eclipse.cdt.launch.use_terminal" value="true"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/I-T001"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
</launchConfiguration>
